.nameOverlay {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Lucida Handwriting', cursive;
  font-weight: bold;
  color: #000;
}

.classOverlay {
  position: absolute;
  top: 54%;
  left: 19.2%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}

.rollOverlay {
  position: absolute;
  top: 54%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}

.fatherOverlay {
  position: absolute;
  top: 53%;
  left: 73.5%;
  transform: translate(-50%, -50%);
  font-size: 10;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}

.eventOverlay {
  position: absolute;
  top: 62%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}

.dateOverlay {
  position: absolute;
  top: 58%;
  left: 76%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}

.rankOverlay {
  position: absolute;
  top: 62.5%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-family: 'Lucida Handwriting', cursive;
  color: #000;
}
